.breadcrumb {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.29;
    text-align: left;
}

.breadcrumb::after {
    content: "/";
}

.breadcrumb:last-child::after {
    display: none;
}

.breadcrumb__link {
    color: rgba(28, 91, 195, 0.8);
}

.breadcrumb__link-not-active {
    color: rgba(34, 31, 31, 0.8);
    text-decoration: none;
}