.content {
    float: right;
    width: 880px;
    margin-top: 28px;
}

.content__title {
    height: 47px;
    font-family: Roboto;
    font-size: 49px;
    font-weight: bold;
    line-height: 0.78;
    text-align: left;
    color: #221f1f;
}