.news__item {
    width: 880px;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.news__item:last-child {
    border-bottom: none;
    margin-bottom: 10px; 
}

.news__img {
    width: 160px;
    height: 160px;
    background-color: #cfd8dc;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
}

.news__text {
    display: inline-block;
    position: absolute;
    left: 180px;
}

.news__date, .news__title, .news__desc {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    text-align: left;
    color: #221f1f;
}

.news__title {
    font-weight: bold;
    line-height: 1.17;
}

.news__date {
    font-size: 14px;
    line-height: 1.5;
    color: #656464;
}