body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1100px;
  height: 2000px;
  margin-bottom: 500px;
  /* position: relative;
  margin-left: -550px;
  left: 50%; */
}

.header {
  height: 77px;
  height: 150px;
  object-fit: contain;
  background-color: #4b73b5;
}

.footer {
height: 77px;
height: 300px;
object-fit: contain;
background-color: #4b73b5;
}

.logo_header {
  width: 120px;
  height: 36px;
  background-image: url(img/logo-header.png);
  overflow: hidden;
}

.phone, .logo_header {
  display: inline-block;
}

.phone a {
  width: 173px;
  height: 22px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 21px;
  font-weight: bold;
  line-height: 2.57;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.table {
  width: 102px;
  height: 14px;
  object-fit: contain;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 3.86;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.table-active {
  width: 102px;
  height: 14px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 3.86;
  text-align: left;
  color: #ffffff;
}

.form__item-text {
  width: 68px;
  height: 10px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 4.5;
  letter-spacing: 2.4px;
  text-align: left;
  color: #4b73b5;
}

.form__item-img {
  overflow: hidden;
}

.form__item-img, .form__item-text {
  display: inline-block;
}

.form__item-text a {
  text-decoration: none;
  color: #4b73b5;
}

.form__item-text-active {
  color: #221f1f;
}

.form__item-text-active a {
  color: #221f1f;
}

.form__list-menu li {
  list-style-type: none;
}

.form__picture {
  width: 1007px;
  height: 299px;
  background-image: url(img/photo.png);
  object-fit: contain;
  overflow: hidden;
}

.form__background-for-item-pic img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding-top: 25%;
}

.mark-as-favorite-star {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.painter-palette {
  width: 28px;
  height: 29px;
  object-fit: contain;
}

.form__news-label {
  width: 452px;
  height: 43px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 49px;
  font-weight: bold;
  line-height: 0.78;
  text-align: left;
  color: #221f1f;
}

.from__news-main {
  width: 695px;
  height: 136px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  text-align: left;
  color: #221f1f;
}

.form__news-date {
  font-size: 14px;
  line-height: 1.5;
  color: #656464;
}

.form__news-header {
  font-weight: bold;
  line-height: 1.17;
}

.form__current-page-number {
  width: 103px;
  height: 14px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: #656464;
}

.form__move-lock {
  width: 6px;
  height: 10px;
  object-fit: contain;
  opacity: 0.3;
}

.form__move-unlock {
  width: 6px;
  height: 10px;
  object-fit: contain;
}

.form__page-number {
  width: 9px;
  height: 12px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #221f1f;
}

.form__selected-page {
  width: 25px;
  height: 25px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #4b73b5;
}

.form__footer-text {
  width: 235px;
  height: 50px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  text-align: left;
  color: #ffffff;
}

.form__social-media {
  width: 155px;
  height: 14px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 3.86;
  text-align: left;
  color: #ffffff;
}

ul.form__social-media-icons li {
  display: inline;
}

.form__background-for-item-pic {
  width: 68px;
  height: 68px;
  object-fit: contain;
  background-color: #4b73b5;
  overflow: hidden;
  border-radius: 50%;
}

.form__item-name {
  width: 69px;
  height: 9px;
  font-family: Roboto;
  font-size: 10.8px;
  font-weight: bold;
  line-height: 4.75;
  letter-spacing: 2.6px;
  text-align: center;
  color: #212121;
}

.form__background-for-news-pic {
  width: 160px;
  height: 160px;
  object-fit: contain;
  background-color: #cfd8dc;
  border-radius: 50%;
  overflow: hidden;
}

.form__background-for-news-pic img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.form__background-for-social-media-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-color: #cfd8dc;
  border-radius: 50%;
  overflow: hidden;
}

.form__background-for-social-media-icon img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding-top: 25%;
}